<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZDBpoLzwMmoogknO3kVkt2ip94-tyljo</string>
	<key>GCM_SENDER_ID</key>
	<string>352917095423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chassisdoctor.app</string>
	<key>PROJECT_ID</key>
	<string>chassis-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>chassis-doctor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352917095423:ios:2692cf3d709d7538d59dca</string>
</dict>
</plist>